.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

canvas {
     -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
}

@media screen and (min-width: 992px) {
    .col-text {
    border-left: 2px solid #d8d8d8;
    }
    section {
        padding-top: 50px;
    }
}

@media screen and (max-width: 992px) {
    .col-text {
    border-bottom: 2px solid #d8d8d8;
    padding-bottom: 30px;
    }
    section {
        padding-top: 30px;
    }
}

body {
    background: #f5f5f5;
}

h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.2em;
}

.text p {
    text-indent: 20px;
}
.text {
    /* background: white; */
    height: 80vh;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    /* border: 2px solid black; */
    padding: 10px;
    /* border-radius: 10px; */
     -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}
.text::-webkit-scrollbar-track {border-radius: 4px;}
.text::-webkit-scrollbar {width: 6px;}
.text::-webkit-scrollbar-thumb {border-radius: 4px;background: #f0f2f5;transition: 1s;}
.text:hover::-webkit-scrollbar-thumb {background: #6a7d9b;transition: 1s;}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr {
  border-top: 2px solid #ddd;
}